In [1]:
import pandas as pd 
import json # 
from collections import defaultdict # dictionary where values are a list
import numpy as np # formatting data with Nan
from datetime import date
import datetime

import collections # help find duplicate values later

In [2]:
# Full Data
df=pd.read_json('Fetch_receipts.json')
df.head()

,_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,purchaseDate,purchasedItemCount,rewardsReceiptItemList,rewardsReceiptStatus,totalSpent,userId
0,{'oid': '5ff1e1eb0a720f0523000575'},500.0,"Receipt number 2 completed, bonus point schedu...",{'date': 1609687531000},{'date': 1609687531000},{'date': 1609687531000},{'date': 1609687536000},{'date': 1609687531000},500.0,{'date': 1609632000000},5.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,26.0,5ff1e1eacfcf6c399c274ae6
1,{'oid': '5ff1e1bb0a720f052300056b'},150.0,"Receipt number 5 completed, bonus point schedu...",{'date': 1609687483000},{'date': 1609687483000},{'date': 1609687483000},{'date': 1609687488000},{'date': 1609687483000},150.0,{'date': 1609601083000},2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,11.0,5ff1e194b6a9d73a3a9f1052
2,{'oid': '5ff1e1f10a720f052300057a'},5.0,All-receipts receipt bonus,{'date': 1609687537000},{'date': 1609687537000},NaN,{'date': 1609687542000},NaN,5.0,{'date': 1609632000000},1.0,"[{'needsFetchReview': False, 'partnerItemId': ...",REJECTED,10.0,5ff1e1f1cfcf6c399c274b0b
3,{'oid': '5ff1e1ee0a7214ada100056f'},5.0,All-receipts receipt bonus,{'date': 1609687534000},{'date': 1609687534000},{'date': 1609687534000},{'date': 1609687539000},{'date': 1609687534000},5.0,{'date': 1609632000000},4.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,28.0,5ff1e1eacfcf6c399c274ae6
4,{'oid': '5ff1e1d20a7214ada1000561'},5.0,All-receipts receipt bonus,{'date': 1609687506000},{'date': 1609687506000},{'date': 1609687511000},{'date': 1609687511000},{'date': 1609687506000},5.0,{'date': 1609601106000},2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,1.0,5ff1e194b6a9d73a3a9f1052

In [3]:
flatten_dictionaries=pd.json_normalize(json.loads(df.to_json(orient="records")) ) ###did this flatten the dictionary within the list? 
flatten_dictionaries.head()

,bonusPointsEarned,bonusPointsEarnedReason,pointsEarned,purchasedItemCount,rewardsReceiptItemList,rewardsReceiptStatus,totalSpent,userId,_id.oid,createDate.date,dateScanned.date,finishedDate.date,modifyDate.date,pointsAwardedDate.date,purchaseDate.date,finishedDate,pointsAwardedDate,purchaseDate
0,500.0,"Receipt number 2 completed, bonus point schedu...",500.0,5.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,26.0,5ff1e1eacfcf6c399c274ae6,5ff1e1eb0a720f0523000575,1609687531000,1609687531000,1.609688e+12,1609687536000,1.609688e+12,1.609632e+12,NaN,NaN,NaN
1,150.0,"Receipt number 5 completed, bonus point schedu...",150.0,2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,11.0,5ff1e194b6a9d73a3a9f1052,5ff1e1bb0a720f052300056b,1609687483000,1609687483000,1.609687e+12,1609687488000,1.609687e+12,1.609601e+12,NaN,NaN,NaN
2,5.0,All-receipts receipt bonus,5.0,1.0,"[{'needsFetchReview': False, 'partnerItemId': ...",REJECTED,10.0,5ff1e1f1cfcf6c399c274b0b,5ff1e1f10a720f052300057a,1609687537000,1609687537000,NaN,1609687542000,NaN,1.609632e+12,NaN,NaN,NaN
3,5.0,All-receipts receipt bonus,5.0,4.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,28.0,5ff1e1eacfcf6c399c274ae6,5ff1e1ee0a7214ada100056f,1609687534000,1609687534000,1.609688e+12,1609687539000,1.609688e+12,1.609632e+12,NaN,NaN,NaN
4,5.0,All-receipts receipt bonus,5.0,2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,1.0,5ff1e194b6a9d73a3a9f1052,5ff1e1d20a7214ada1000561,1609687506000,1609687506000,1.609688e+12,1609687511000,1.609688e+12,1.609601e+12,NaN,NaN,NaN

In [4]:
hiccup_column = flatten_dictionaries.explode('rewardsReceiptItemList') # We need to get unique keys()
hiccup_column

,bonusPointsEarned,bonusPointsEarnedReason,pointsEarned,purchasedItemCount,rewardsReceiptItemList,rewardsReceiptStatus,totalSpent,userId,_id.oid,createDate.date,dateScanned.date,finishedDate.date,modifyDate.date,pointsAwardedDate.date,purchaseDate.date,finishedDate,pointsAwardedDate,purchaseDate
0,500.0,"Receipt number 2 completed, bonus point schedu...",500.0,5.0,"{'barcode': '4011', 'description': 'ITEM NOT F...",FINISHED,26.00,5ff1e1eacfcf6c399c274ae6,5ff1e1eb0a720f0523000575,1609687531000,1609687531000,1.609688e+12,1609687536000,1.609688e+12,1.609632e+12,NaN,NaN,NaN
1,150.0,"Receipt number 5 completed, bonus point schedu...",150.0,2.0,"{'barcode': '4011', 'description': 'ITEM NOT F...",FINISHED,11.00,5ff1e194b6a9d73a3a9f1052,5ff1e1bb0a720f052300056b,1609687483000,1609687483000,1.609687e+12,1609687488000,1.609687e+12,1.609601e+12,NaN,NaN,NaN
1,150.0,"Receipt number 5 completed, bonus point schedu...",150.0,2.0,"{'barcode': '028400642255', 'description': 'DO...",FINISHED,11.00,5ff1e194b6a9d73a3a9f1052,5ff1e1bb0a720f052300056b,1609687483000,1609687483000,1.609687e+12,1609687488000,1.609687e+12,1.609601e+12,NaN,NaN,NaN
2,5.0,All-receipts receipt bonus,5.0,1.0,"{'needsFetchReview': False, 'partnerItemId': '...",REJECTED,10.00,5ff1e1f1cfcf6c399c274b0b,5ff1e1f10a720f052300057a,1609687537000,1609687537000,NaN,1609687542000,NaN,1.609632e+12,NaN,NaN,NaN
3,5.0,All-receipts receipt bonus,5.0,4.0,"{'barcode': '4011', 'description': 'ITEM NOT F...",FINISHED,28.00,5ff1e1eacfcf6c399c274ae6,5ff1e1ee0a7214ada100056f,1609687534000,1609687534000,1.609688e+12,1609687539000,1.609688e+12,1.609632e+12,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1115,NaN,None,NaN,NaN,None,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33,603d0b710a720fde1000042a,1614613361873,1614613361873,NaN,1614613361873,NaN,NaN,NaN,NaN,NaN
1116,NaN,None,NaN,NaN,None,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33,603cf5290a720fde10000413,1614607657664,1614607657664,NaN,1614607657664,NaN,NaN,NaN,NaN,NaN
1117,25.0,COMPLETE_NONPARTNER_RECEIPT,25.0,2.0,"{'barcode': 'B076FJ92M4', 'description': 'muel...",REJECTED,34.96,5fc961c3b8cfca11a077dd33,603ce7100a7217c72c000405,1614604048000,1614604048000,NaN,1614604049000,NaN,1.597622e+12,NaN,NaN,NaN
1117,25.0,COMPLETE_NONPARTNER_RECEIPT,25.0,2.0,"{'barcode': 'B07BRRLSVC', 'description': 'thin...",REJECTED,34.96,5fc961c3b8cfca11a077dd33,603ce7100a7217c72c000405,1614604048000,1614604048000,NaN,1614604049000,NaN,1.597622e+12,NaN,NaN,NaN
1118,NaN,None,NaN,NaN,None,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33,603c4fea0a7217c72c000389,1614565354962,1614565354962,NaN,1614565354962,NaN,NaN,NaN,NaN,NaN

In [5]:
# Flatten Dictionaries
play=pd.json_normalize(json.loads(hiccup_column.to_json(orient="records")) )
play.head()

,bonusPointsEarned,bonusPointsEarnedReason,pointsEarned,purchasedItemCount,rewardsReceiptStatus,totalSpent,userId,_id.oid,createDate.date,dateScanned.date,...,rewardsReceiptItemList.originalMetaBriteQuantityPurchased,rewardsReceiptItemList.pointsEarned,rewardsReceiptItemList.targetPrice,rewardsReceiptItemList.competitiveProduct,rewardsReceiptItemList.originalFinalPrice,rewardsReceiptItemList.originalMetaBriteItemPrice,rewardsReceiptItemList.deleted,rewardsReceiptItemList.priceAfterCoupon,rewardsReceiptItemList,rewardsReceiptItemList.metabriteCampaignId
0,500.0,"Receipt number 2 completed, bonus point schedu...",500.0,5.0,FINISHED,26.0,5ff1e1eacfcf6c399c274ae6,5ff1e1eb0a720f0523000575,1609687531000,1609687531000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,150.0,"Receipt number 5 completed, bonus point schedu...",150.0,2.0,FINISHED,11.0,5ff1e194b6a9d73a3a9f1052,5ff1e1bb0a720f052300056b,1609687483000,1609687483000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,150.0,"Receipt number 5 completed, bonus point schedu...",150.0,2.0,FINISHED,11.0,5ff1e194b6a9d73a3a9f1052,5ff1e1bb0a720f052300056b,1609687483000,1609687483000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5.0,All-receipts receipt bonus,5.0,1.0,REJECTED,10.0,5ff1e1f1cfcf6c399c274b0b,5ff1e1f10a720f052300057a,1609687537000,1609687537000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,All-receipts receipt bonus,5.0,4.0,FINISHED,28.0,5ff1e1eacfcf6c399c274ae6,5ff1e1ee0a7214ada100056f,1609687534000,1609687534000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
play.iloc[:,:].isnull().sum().sort_values(ascending=True) # Columns which are completely empty

# rewardsReceiptItemList_pointsEarned

rewardsReceiptStatus                                            0
userId                                                          0
_id.oid                                                         0
createDate.date                                                 0
dateScanned.date                                                0
modifyDate.date                                                 0
totalSpent                                                    435
rewardsReceiptItemList.partnerItemId                          440
purchaseDate.date                                             458
purchasedItemCount                                            484
rewardsReceiptItemList.quantityPurchased                      614
rewardsReceiptItemList.itemPrice                              614
rewardsReceiptItemList.finalPrice                             614
rewardsReceiptItemList.description                            821
pointsEarned                                                 1128
pointsAwardedDate.date                                       1301
bonusPointsEarned                                            1401
bonusPointsEarnedReason                                      1401
finishedDate.date                                            1411
rewardsReceiptItemList.discountedItemPrice                   1612
rewardsReceiptItemList.originalReceiptItemText               1621
rewardsReceiptItemList.barcode                               4291
rewardsReceiptItemList.brandCode                             4781
rewardsReceiptItemList.rewardsProductPartnerId               5112
rewardsReceiptItemList.rewardsGroup                          5650
rewardsReceiptItemList.pointsPayerId                         6114
rewardsReceiptItemList.priceAfterCoupon                      6425
rewardsReceiptItemList.pointsEarned                          6454
rewardsReceiptItemList.metabriteCampaignId                   6518
rewardsReceiptItemList.needsFetchReview                      6568
rewardsReceiptItemList.competitiveProduct                    6736
rewardsReceiptItemList.targetPrice                           7003
rewardsReceiptItemList.preventTargetGapPoints                7023
rewardsReceiptItemList.pointsNotAwardedReason                7041
rewardsReceiptItemList.userFlaggedBarcode                    7044
rewardsReceiptItemList.userFlaggedNewItem                    7058
rewardsReceiptItemList.userFlaggedPrice                      7082
rewardsReceiptItemList.userFlaggedQuantity                   7082
rewardsReceiptItemList.competitorRewardsGroup                7106
rewardsReceiptItemList.needsFetchReviewReason                7162
rewardsReceiptItemList.userFlaggedDescription                7176
rewardsReceiptItemList.itemNumber                            7228
rewardsReceiptItemList.originalMetaBriteBarcode              7310
rewardsReceiptItemList.originalMetaBriteQuantityPurchased    7366
rewardsReceiptItemList.originalMetaBriteDescription          7371
rewardsReceiptItemList.originalFinalPrice                    7372
rewardsReceiptItemList.originalMetaBriteItemPrice            7372
rewardsReceiptItemList.deleted                               7372
pointsAwardedDate                                            7381
rewardsReceiptItemList                                       7381
finishedDate                                                 7381
purchaseDate                                                 7381
dtype: int64

In [7]:
# Flatten Lists
hiccup_column = flatten_dictionaries.explode('rewardsReceiptItemList') # we need to get unique keys()

# Create List of Unique names from the Nested Dictionaries, we will cut these names down from long form
store_unique_keys=[]
for i in hiccup_column['rewardsReceiptItemList']:
    if i != None:
        store_unique_keys.extend(i.keys())

unique_names=list(set(store_unique_keys))

In [8]:
# Subset columns for names:

play_01=play.iloc[:,17:]

# play['discountedItemPrice']= play['discountedItemPrice'].astype(float)

In [9]:
# Split columns names with dot notation, and keep short version after dot notation

col_nms=[]
for i in play_01.columns.to_list():
    if len(i.split('.'))>1:
        col_nms.append(i.split('.')[1])
    else:
        col_nms.append(i.split('.')[0])

len(col_nms)
col_nms

# len(col_nms)
# rewardsReceiptItemList_pointsEarned

['barcode',
 'description',
 'finalPrice',
 'itemPrice',
 'needsFetchReview',
 'partnerItemId',
 'preventTargetGapPoints',
 'quantityPurchased',
 'userFlaggedBarcode',
 'userFlaggedNewItem',
 'userFlaggedPrice',
 'userFlaggedQuantity',
 'needsFetchReviewReason',
 'pointsNotAwardedReason',
 'pointsPayerId',
 'rewardsGroup',
 'rewardsProductPartnerId',
 'userFlaggedDescription',
 'originalMetaBriteBarcode',
 'originalMetaBriteDescription',
 'brandCode',
 'competitorRewardsGroup',
 'discountedItemPrice',
 'originalReceiptItemText',
 'itemNumber',
 'originalMetaBriteQuantityPurchased',
 'pointsEarned',
 'targetPrice',
 'competitiveProduct',
 'originalFinalPrice',
 'originalMetaBriteItemPrice',
 'deleted',
 'priceAfterCoupon',
 'rewardsReceiptItemList',
 'metabriteCampaignId']

In [10]:
# Remove useless columns from the parsing that are now empty after flattening

play_partial=play.iloc[:,17:]

play_partial.columns=col_nms

# we have an extra column to remove because it was used to deal with nested data and now is empty!
play_partial_updt = play_partial.drop(['rewardsReceiptItemList'],axis=1)

# play_partial_updt.tail()

play_partial_updt.isnull().sum().sort_values(ascending=True)

partnerItemId                          440
finalPrice                             614
itemPrice                              614
quantityPurchased                      614
description                            821
discountedItemPrice                   1612
originalReceiptItemText               1621
barcode                               4291
brandCode                             4781
rewardsProductPartnerId               5112
rewardsGroup                          5650
pointsPayerId                         6114
priceAfterCoupon                      6425
pointsEarned                          6454
metabriteCampaignId                   6518
needsFetchReview                      6568
competitiveProduct                    6736
targetPrice                           7003
preventTargetGapPoints                7023
pointsNotAwardedReason                7041
userFlaggedBarcode                    7044
userFlaggedNewItem                    7058
userFlaggedPrice                      7082
userFlaggedQuantity                   7082
competitorRewardsGroup                7106
needsFetchReviewReason                7162
userFlaggedDescription                7176
itemNumber                            7228
originalMetaBriteBarcode              7310
originalMetaBriteQuantityPurchased    7366
originalMetaBriteDescription          7371
originalFinalPrice                    7372
originalMetaBriteItemPrice            7372
deleted                               7372
dtype: int64

In [11]:
play_partial=play.iloc[:,17:]

play_partial.columns=col_nms


# Check for duplicate names: 
col_nms

['barcode',
 'description',
 'finalPrice',
 'itemPrice',
 'needsFetchReview',
 'partnerItemId',
 'preventTargetGapPoints',
 'quantityPurchased',
 'userFlaggedBarcode',
 'userFlaggedNewItem',
 'userFlaggedPrice',
 'userFlaggedQuantity',
 'needsFetchReviewReason',
 'pointsNotAwardedReason',
 'pointsPayerId',
 'rewardsGroup',
 'rewardsProductPartnerId',
 'userFlaggedDescription',
 'originalMetaBriteBarcode',
 'originalMetaBriteDescription',
 'brandCode',
 'competitorRewardsGroup',
 'discountedItemPrice',
 'originalReceiptItemText',
 'itemNumber',
 'originalMetaBriteQuantityPurchased',
 'pointsEarned',
 'targetPrice',
 'competitiveProduct',
 'originalFinalPrice',
 'originalMetaBriteItemPrice',
 'deleted',
 'priceAfterCoupon',
 'rewardsReceiptItemList',
 'metabriteCampaignId']

In [12]:
# Change all names of columns
play.columns=list(play.iloc[:,:17].columns)+col_nms



# We have a problem and we need to update this column: The DF has duplicated names!
[item for item, count in collections.Counter(play.columns).items() if count > 1]


# Index position of duplicate name of columns:
[idx for idx, item in enumerate(play.columns) if item in play.columns[:idx]]

# Changing the second occurence of duplicate column name
play.columns.values[43] ='rewardsReceiptItemList_pointsEarned'

play.columns

Index(['bonusPointsEarned', 'bonusPointsEarnedReason', 'pointsEarned',
       'purchasedItemCount', 'rewardsReceiptStatus', 'totalSpent', 'userId',
       '_id.oid', 'createDate.date', 'dateScanned.date', 'finishedDate.date',
       'modifyDate.date', 'pointsAwardedDate.date', 'purchaseDate.date',
       'finishedDate', 'pointsAwardedDate', 'purchaseDate', 'barcode',
       'description', 'finalPrice', 'itemPrice', 'needsFetchReview',
       'partnerItemId', 'preventTargetGapPoints', 'quantityPurchased',
       'userFlaggedBarcode', 'userFlaggedNewItem', 'userFlaggedPrice',
       'userFlaggedQuantity', 'needsFetchReviewReason',
       'pointsNotAwardedReason', 'pointsPayerId', 'rewardsGroup',
       'rewardsProductPartnerId', 'userFlaggedDescription',
       'originalMetaBriteBarcode', 'originalMetaBriteDescription', 'brandCode',
       'competitorRewardsGroup', 'discountedItemPrice',
       'originalReceiptItemText', 'itemNumber',
       'originalMetaBriteQuantityPurchased',
       'rewardsReceiptItemList_pointsEarned', 'targetPrice',
       'competitiveProduct', 'originalFinalPrice',
       'originalMetaBriteItemPrice', 'deleted', 'priceAfterCoupon',
       'rewardsReceiptItemList', 'metabriteCampaignId'],
      dtype='object')

In [13]:
# Next, we need to check the variable type to create a database for MySQL or PSQL

play.dtypes

bonusPointsEarned                      float64
bonusPointsEarnedReason                 object
pointsEarned                           float64
purchasedItemCount                     float64
rewardsReceiptStatus                    object
totalSpent                             float64
userId                                  object
_id.oid                                 object
createDate.date                          int64
dateScanned.date                         int64
finishedDate.date                      float64
modifyDate.date                          int64
pointsAwardedDate.date                 float64
purchaseDate.date                      float64
finishedDate                            object
pointsAwardedDate                       object
purchaseDate                            object
barcode                                 object
description                             object
finalPrice                              object
itemPrice                               object
needsFetchReview                        object
partnerItemId                           object
preventTargetGapPoints                  object
quantityPurchased                      float64
userFlaggedBarcode                      object
userFlaggedNewItem                      object
userFlaggedPrice                        object
userFlaggedQuantity                    float64
needsFetchReviewReason                  object
pointsNotAwardedReason                  object
pointsPayerId                           object
rewardsGroup                            object
rewardsProductPartnerId                 object
userFlaggedDescription                  object
originalMetaBriteBarcode                object
originalMetaBriteDescription            object
brandCode                               object
competitorRewardsGroup                  object
discountedItemPrice                     object
originalReceiptItemText                 object
itemNumber                              object
originalMetaBriteQuantityPurchased     float64
rewardsReceiptItemList_pointsEarned     object
targetPrice                             object
competitiveProduct                      object
originalFinalPrice                      object
originalMetaBriteItemPrice              object
deleted                                 object
priceAfterCoupon                        object
rewardsReceiptItemList                 float64
metabriteCampaignId                     object
dtype: object

# Here we have to handle individual columns for MySQL to read:

+ If you feel neccessary you can adjust this and create a function based on each datatype by column and do a task. This would need to be evaluated because, your columns are case-by-case and if these data change then your function may fail without proper error handling. 
+ There is another issue to think about for example: if you lump columns based on datatype, you have a potential problem because one column may be float-string that needs converting abd if you read the label it should be downcast to integer instead. 
    + Memory management should be considered, while bulk loading and sending data
    + Date-Time information can be manipulated easily if you need the times, I will comment below for this
    + Sending the raw dataframe you need to be careful due to round trips to the DB
+ Some columns seem ok at first for processessing until you scan them in and see weird behavior at the row level and then an error occurs. 

+ `NaN` values are an issue with **`DATE`** and you need to do something with this
    + Either create a dummy date format `YYYY-MM-DD` that doesn't exists for these data 
    OR
        + You should replace empty `Nan` values with a `CreatedDate` column for consistency 
        
+ `BOOLEAN`: when these occured in a column and I saw a huge number of empty rows, I made `NaN` FALSE unless noted
    + Some cases I had to make a judgement call and replace with TEXT for schema do to column formatting

In [14]:
# Remove Useless Columns:                                      
useless_columns=['pointsAwardedDate','rewardsReceiptItemList','finishedDate','purchaseDate']

# DROP THESE COLUMNS:
new_subset_play= play.drop(useless_columns,axis=1)

new_subset_play.head() # was 52 columns

# Changed the NaN to 0
new_subset_play['discountedItemPrice']=new_subset_play['discountedItemPrice'].fillna(0)

# Converting from string int to -> float
new_subset_play['discountedItemPrice']=pd.to_numeric(new_subset_play['discountedItemPrice'])

# confirming int 
type(new_subset_play['discountedItemPrice'][2])


# we have what are some identifying item_numbers and NaNs
# set(new_subset_play['itemNumber'])

#Same process as above:
new_subset_play['itemNumber']=new_subset_play['itemNumber'].fillna(0)

# Change this to INT with downcast='signed'
new_subset_play['itemNumber']=pd.to_numeric(new_subset_play['itemNumber'],downcast='signed')

#making this float with 0.0 with .nafill()
new_subset_play['originalMetaBriteQuantityPurchased']=new_subset_play['originalMetaBriteQuantityPurchased'].fillna(0.0)


new_subset_play['originalMetaBriteQuantityPurchased']=pd.to_numeric(new_subset_play['originalMetaBriteQuantityPurchased']
                                                                    ,downcast='signed')

new_subset_play['rewardsReceiptItemList_pointsEarned']=new_subset_play['rewardsReceiptItemList_pointsEarned'].fillna(0.0)

new_subset_play['rewardsReceiptItemList_pointsEarned']=pd.to_numeric(new_subset_play['rewardsReceiptItemList_pointsEarned'])


new_subset_play['targetPrice']=new_subset_play['targetPrice'].fillna(0)

new_subset_play['targetPrice']=pd.to_numeric(new_subset_play['targetPrice'])


# This is 91% Null, what do I fill the value with since it is BOOL? I can do empty str or FALSE or Zero

# set(new_subset_play['competitiveProduct'])

# Checking to see proportion of data NaN to decide how to handle these
new_subset_play['competitiveProduct'].isnull().sum()/len(new_subset_play['competitiveProduct'])

new_subset_play['competitiveProduct']=new_subset_play['competitiveProduct'].fillna("Unknown")


# set(new_subset_play['competitiveProduct'])

new_subset_play['originalFinalPrice']=new_subset_play['originalFinalPrice'].fillna(0.0)

new_subset_play['originalFinalPrice']=pd.to_numeric(new_subset_play['originalFinalPrice'])


new_subset_play['originalMetaBriteItemPrice']=new_subset_play['originalMetaBriteItemPrice'].fillna(0.0)

new_subset_play['originalMetaBriteItemPrice']=pd.to_numeric(new_subset_play['originalMetaBriteItemPrice'])

# 99% Nan, I will do unknown string but can convert to BOOL if you want and change schema
set(new_subset_play['deleted'])
new_subset_play['deleted'].isnull().sum()/len(new_subset_play['deleted'])


# new_subset_play['deleted']=new_subset_play['deleted'].fillna(0)

set(new_subset_play['deleted'])
#Bool values here, I replaced NaN with False as a judgement call and easier to import
new_subset_play["deleted"].fillna(False,inplace=True)


new_subset_play['priceAfterCoupon']=new_subset_play['priceAfterCoupon'].fillna(0.0)

new_subset_play['priceAfterCoupon']=pd.to_numeric(new_subset_play['priceAfterCoupon'])


set(new_subset_play['preventTargetGapPoints'])
new_subset_play['preventTargetGapPoints'].fillna(False,inplace=True)

new_subset_play['userFlaggedNewItem'].fillna(False,inplace=True)

# set(new_subset_play['userFlaggedPrice' ])

new_subset_play['userFlaggedPrice']=new_subset_play['userFlaggedPrice'].fillna(0.0)

new_subset_play['userFlaggedPrice']=pd.to_numeric(new_subset_play['userFlaggedPrice'])

# 'userFlaggedPrice' 

new_subset_play['userFlaggedQuantity']
new_subset_play['userFlaggedQuantity']=new_subset_play['userFlaggedQuantity'].fillna(0)

new_subset_play['userFlaggedQuantity']=pd.to_numeric(new_subset_play['userFlaggedQuantity'],downcast='signed')
# new_subset_play['userFlaggedQuantity']


new_subset_play['finalPrice']=new_subset_play['finalPrice'].fillna(0.0)
new_subset_play['finalPrice']=pd.to_numeric(new_subset_play['finalPrice'])
# new_subset_play['finalPrice']


new_subset_play['itemPrice']=new_subset_play['itemPrice'].fillna(0.0)
new_subset_play['itemPrice']=pd.to_numeric(new_subset_play['itemPrice'])

# set(new_subset_play['quantityPurchased'])
new_subset_play['quantityPurchased']=new_subset_play['quantityPurchased'].fillna(0)
new_subset_play['quantityPurchased']=pd.to_numeric(new_subset_play['quantityPurchased'],downcast='signed')

# set(new_subset_play['bonusPointsEarned'])
new_subset_play['bonusPointsEarned']=new_subset_play['bonusPointsEarned'].fillna(0.0)
new_subset_play['bonusPointsEarned']=pd.to_numeric(new_subset_play['bonusPointsEarned'])


# set(new_subset_play['purchasedItemCount'])
new_subset_play['purchasedItemCount']=new_subset_play['purchasedItemCount'].fillna(0)
new_subset_play['purchasedItemCount']=pd.to_numeric(new_subset_play['purchasedItemCount'],downcast='signed')

new_subset_play['totalSpent']=new_subset_play['totalSpent'].fillna(0.0)
new_subset_play['totalSpent']=pd.to_numeric(new_subset_play['totalSpent'])

new_subset_play['partnerItemId']=new_subset_play['partnerItemId'].fillna(0)
# set(new_subset_play['partnerItemId'])
new_subset_play['partnerItemId']=pd.to_numeric(new_subset_play['partnerItemId'])

In [15]:
# This is MySQL problem for importing so I changed dot notation of columns
new_subset_play.columns=new_subset_play.columns.str.replace('.','_')

C:\Users\julie\AppData\Local\Temp\ipykernel_5764\3736481481.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  new_subset_play.columns=new_subset_play.columns.str.replace('.','_')

In [16]:
# Date Time Formatting: 
from datetime import datetime

# my_date = datetime.now()

# I need to find the columns with dates to format!

# string find with word: date (case insensitive)
date_str = 'date'

# play.columns[0].lower()

date_col_lst=[]

for i in new_subset_play.columns:
#     print(i)
    if date_str in i.lower():
#         print(i) # This is what we need to investigate!
        date_col_lst.append(i)
date_col_lst
# this is 1/7 of our data! we need to take care of this...

['createDate_date',
 'dateScanned_date',
 'finishedDate_date',
 'modifyDate_date',
 'pointsAwardedDate_date',
 'purchaseDate_date']

In [17]:
# THIS IS VERY IMPORTANT: YOU CANNOT IMPORT NAN DATE INFO...
new_subset_play.loc[:,date_col_lst].isnull().sum()

createDate_date              0
dateScanned_date             0
finishedDate_date         1411
modifyDate_date              0
pointsAwardedDate_date    1301
purchaseDate_date          458
dtype: int64

In [18]:
# Timestamp info is incorrect because you have extra zeros! remove in next step
new_subset_play.loc[:,date_col_lst].head()

,createDate_date,dateScanned_date,finishedDate_date,modifyDate_date,pointsAwardedDate_date,purchaseDate_date
0,1609687531000,1609687531000,1.609688e+12,1609687536000,1.609688e+12,1.609632e+12
1,1609687483000,1609687483000,1.609687e+12,1609687488000,1.609687e+12,1.609601e+12
2,1609687483000,1609687483000,1.609687e+12,1609687488000,1.609687e+12,1.609601e+12
3,1609687537000,1609687537000,NaN,1609687542000,NaN,1.609632e+12
4,1609687534000,1609687534000,1.609688e+12,1609687539000,1.609688e+12,1.609632e+12

In [19]:
dates_df=new_subset_play.loc[:,date_col_lst]

# Creating proper format for dates
dd=dates_df.div(1000, axis=0)
# doing this accross all date columns
pp=dd.apply(pd.to_datetime, errors='coerce',utc=True,unit='s')

# pp
# pp['dateScanned.date'][0].strftime("%m/%d/%Y, %H:%M:%S")
# pp.apply(strftime(pp,"%m/%d/%Y, %H:%M:%S"))


# If you need date with time unblock the , %H:%M:%S")) portion of code and it will work BUT, CHANGE SCHEMA 
# to DATETIME instead of DATE!
pp_new=pp.apply(lambda x: x.dt.strftime("%Y-%m-%d"))
                                        
#                                         , %H:%M:%S"))
pp_new.head()
# set(pp_new['createDate_date'])

,createDate_date,dateScanned_date,finishedDate_date,modifyDate_date,pointsAwardedDate_date,purchaseDate_date
0,2021-01-03,2021-01-03,2021-01-03,2021-01-03,2021-01-03,2021-01-03
1,2021-01-03,2021-01-03,2021-01-03,2021-01-03,2021-01-03,2021-01-02
2,2021-01-03,2021-01-03,2021-01-03,2021-01-03,2021-01-03,2021-01-02
3,2021-01-03,2021-01-03,NaN,2021-01-03,NaN,2021-01-03
4,2021-01-03,2021-01-03,2021-01-03,2021-01-03,2021-01-03,2021-01-03

In [20]:
# I have an error that popped up:

# Here is a potential issue: 'finishedDate_date' you have NaN for dates and empty string is not working
#let's investigate all the dates first to make sure that this is not a fluke and needs further testing
pp_new.isnull().sum()

# It looks like we will need 3 columns to handle here! for MySQL
# I was thinking use the Created_Date and replace the nan value or make a generic date to fill it will

createDate_date              0
dateScanned_date             0
finishedDate_date         1411
modifyDate_date              0
pointsAwardedDate_date    1301
purchaseDate_date          458
dtype: int64

In [21]:
# This was a dummy date so MySQL would take import and you can query this to find your Nan values easy
# If you want I would think about replacing with CreateDate for consistency. This will depend on what you are
# Needing as an end result or personal preference.
new_date_nan_changed=pp_new.replace(np.nan,'1900-01-01',regex=True)
new_date_nan_changed.head()

,createDate_date,dateScanned_date,finishedDate_date,modifyDate_date,pointsAwardedDate_date,purchaseDate_date
0,2021-01-03,2021-01-03,2021-01-03,2021-01-03,2021-01-03,2021-01-03
1,2021-01-03,2021-01-03,2021-01-03,2021-01-03,2021-01-03,2021-01-02
2,2021-01-03,2021-01-03,2021-01-03,2021-01-03,2021-01-03,2021-01-02
3,2021-01-03,2021-01-03,1900-01-01,2021-01-03,1900-01-01,2021-01-03
4,2021-01-03,2021-01-03,2021-01-03,2021-01-03,2021-01-03,2021-01-03

In [22]:
# new_subset_play.columns=new_subset_play.columns.str.replace('.','_')

# All columns that were not dealt with above are now converted to empty strings for NaN and have no issue for 
# importing into MySQL, change these if you need to like above formatting if you choose to 
new_subset_play = new_subset_play.replace(np.nan,'',regex=True)
new_subset_play

,bonusPointsEarned,bonusPointsEarnedReason,pointsEarned,purchasedItemCount,rewardsReceiptStatus,totalSpent,userId,_id_oid,createDate_date,dateScanned_date,...,itemNumber,originalMetaBriteQuantityPurchased,rewardsReceiptItemList_pointsEarned,targetPrice,competitiveProduct,originalFinalPrice,originalMetaBriteItemPrice,deleted,priceAfterCoupon,metabriteCampaignId
0,500.0,"Receipt number 2 completed, bonus point schedu...",500.0,5,FINISHED,26.00,5ff1e1eacfcf6c399c274ae6,5ff1e1eb0a720f0523000575,1609687531000,1609687531000,...,0,0,0.0,0,Unknown,0.0,0.0,False,0.00,
1,150.0,"Receipt number 5 completed, bonus point schedu...",150.0,2,FINISHED,11.00,5ff1e194b6a9d73a3a9f1052,5ff1e1bb0a720f052300056b,1609687483000,1609687483000,...,0,0,0.0,0,Unknown,0.0,0.0,False,0.00,
2,150.0,"Receipt number 5 completed, bonus point schedu...",150.0,2,FINISHED,11.00,5ff1e194b6a9d73a3a9f1052,5ff1e1bb0a720f052300056b,1609687483000,1609687483000,...,0,0,0.0,0,Unknown,0.0,0.0,False,0.00,
3,5.0,All-receipts receipt bonus,5.0,1,REJECTED,10.00,5ff1e1f1cfcf6c399c274b0b,5ff1e1f10a720f052300057a,1609687537000,1609687537000,...,0,0,0.0,0,Unknown,0.0,0.0,False,0.00,
4,5.0,All-receipts receipt bonus,5.0,4,FINISHED,28.00,5ff1e1eacfcf6c399c274ae6,5ff1e1ee0a7214ada100056f,1609687534000,1609687534000,...,0,0,0.0,0,Unknown,0.0,0.0,False,0.00,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7376,0.0,,,0,SUBMITTED,0.00,5fc961c3b8cfca11a077dd33,603d0b710a720fde1000042a,1614613361873,1614613361873,...,0,0,0.0,0,Unknown,0.0,0.0,False,0.00,
7377,0.0,,,0,SUBMITTED,0.00,5fc961c3b8cfca11a077dd33,603cf5290a720fde10000413,1614607657664,1614607657664,...,0,0,0.0,0,Unknown,0.0,0.0,False,0.00,
7378,25.0,COMPLETE_NONPARTNER_RECEIPT,25.0,2,REJECTED,34.96,5fc961c3b8cfca11a077dd33,603ce7100a7217c72c000405,1614604048000,1614604048000,...,0,0,0.0,0,Unknown,0.0,0.0,False,22.97,
7379,25.0,COMPLETE_NONPARTNER_RECEIPT,25.0,2,REJECTED,34.96,5fc961c3b8cfca11a077dd33,603ce7100a7217c72c000405,1614604048000,1614604048000,...,0,0,0.0,0,Unknown,0.0,0.0,False,11.99,
7380,0.0,,,0,SUBMITTED,0.00,5fc961c3b8cfca11a077dd33,603c4fea0a7217c72c000389,1614565354962,1614565354962,...,0,0,0.0,0,Unknown,0.0,0.0,False,0.00,

In [23]:
# Very columns look good before schema
new_subset_play.columns

Index(['bonusPointsEarned', 'bonusPointsEarnedReason', 'pointsEarned',
       'purchasedItemCount', 'rewardsReceiptStatus', 'totalSpent', 'userId',
       '_id_oid', 'createDate_date', 'dateScanned_date', 'finishedDate_date',
       'modifyDate_date', 'pointsAwardedDate_date', 'purchaseDate_date',
       'barcode', 'description', 'finalPrice', 'itemPrice', 'needsFetchReview',
       'partnerItemId', 'preventTargetGapPoints', 'quantityPurchased',
       'userFlaggedBarcode', 'userFlaggedNewItem', 'userFlaggedPrice',
       'userFlaggedQuantity', 'needsFetchReviewReason',
       'pointsNotAwardedReason', 'pointsPayerId', 'rewardsGroup',
       'rewardsProductPartnerId', 'userFlaggedDescription',
       'originalMetaBriteBarcode', 'originalMetaBriteDescription', 'brandCode',
       'competitorRewardsGroup', 'discountedItemPrice',
       'originalReceiptItemText', 'itemNumber',
       'originalMetaBriteQuantityPurchased',
       'rewardsReceiptItemList_pointsEarned', 'targetPrice',
       'competitiveProduct', 'originalFinalPrice',
       'originalMetaBriteItemPrice', 'deleted', 'priceAfterCoupon',
       'metabriteCampaignId'],
      dtype='object')

In [24]:
# Combine new dates with other portion of DF and putting all together
new_subset_play.update(new_date_nan_changed)
# pp_new

In [25]:
new_subset_play

,bonusPointsEarned,bonusPointsEarnedReason,pointsEarned,purchasedItemCount,rewardsReceiptStatus,totalSpent,userId,_id_oid,createDate_date,dateScanned_date,...,itemNumber,originalMetaBriteQuantityPurchased,rewardsReceiptItemList_pointsEarned,targetPrice,competitiveProduct,originalFinalPrice,originalMetaBriteItemPrice,deleted,priceAfterCoupon,metabriteCampaignId
0,500.0,"Receipt number 2 completed, bonus point schedu...",500.0,5,FINISHED,26.00,5ff1e1eacfcf6c399c274ae6,5ff1e1eb0a720f0523000575,2021-01-03,2021-01-03,...,0,0,0.0,0,Unknown,0.0,0.0,False,0.00,
1,150.0,"Receipt number 5 completed, bonus point schedu...",150.0,2,FINISHED,11.00,5ff1e194b6a9d73a3a9f1052,5ff1e1bb0a720f052300056b,2021-01-03,2021-01-03,...,0,0,0.0,0,Unknown,0.0,0.0,False,0.00,
2,150.0,"Receipt number 5 completed, bonus point schedu...",150.0,2,FINISHED,11.00,5ff1e194b6a9d73a3a9f1052,5ff1e1bb0a720f052300056b,2021-01-03,2021-01-03,...,0,0,0.0,0,Unknown,0.0,0.0,False,0.00,
3,5.0,All-receipts receipt bonus,5.0,1,REJECTED,10.00,5ff1e1f1cfcf6c399c274b0b,5ff1e1f10a720f052300057a,2021-01-03,2021-01-03,...,0,0,0.0,0,Unknown,0.0,0.0,False,0.00,
4,5.0,All-receipts receipt bonus,5.0,4,FINISHED,28.00,5ff1e1eacfcf6c399c274ae6,5ff1e1ee0a7214ada100056f,2021-01-03,2021-01-03,...,0,0,0.0,0,Unknown,0.0,0.0,False,0.00,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7376,0.0,,,0,SUBMITTED,0.00,5fc961c3b8cfca11a077dd33,603d0b710a720fde1000042a,2021-03-01,2021-03-01,...,0,0,0.0,0,Unknown,0.0,0.0,False,0.00,
7377,0.0,,,0,SUBMITTED,0.00,5fc961c3b8cfca11a077dd33,603cf5290a720fde10000413,2021-03-01,2021-03-01,...,0,0,0.0,0,Unknown,0.0,0.0,False,0.00,
7378,25.0,COMPLETE_NONPARTNER_RECEIPT,25.0,2,REJECTED,34.96,5fc961c3b8cfca11a077dd33,603ce7100a7217c72c000405,2021-03-01,2021-03-01,...,0,0,0.0,0,Unknown,0.0,0.0,False,22.97,
7379,25.0,COMPLETE_NONPARTNER_RECEIPT,25.0,2,REJECTED,34.96,5fc961c3b8cfca11a077dd33,603ce7100a7217c72c000405,2021-03-01,2021-03-01,...,0,0,0.0,0,Unknown,0.0,0.0,False,11.99,
7380,0.0,,,0,SUBMITTED,0.00,5fc961c3b8cfca11a077dd33,603c4fea0a7217c72c000389,2021-03-01,2021-03-01,...,0,0,0.0,0,Unknown,0.0,0.0,False,0.00,

In [26]:
# we discarded the useless rows from 52 to now 48
len(set(new_subset_play.columns))

48

In [27]:
# Changed this name _id.OID because of convention naming systems for DB and I don't want confusion or errors
new_subset_play=new_subset_play.rename(columns={new_subset_play.columns[7]:"OID"})

In [28]:
# new_subset_play['discountedItemPrice'].astype(float)

# set(new_subset_play['discountedItemPrice'])

In [29]:
new_subset_play.columns
new_subset_play.columns[40]

'rewardsReceiptItemList_pointsEarned'

# `LOOK at this schema carefully please:`

+ There were situations where an error occurs due to the date reaching a point of being to large for the operator used. 
For example, I had issues with `originalMetaBriteDescription LONGTEXT` or increasing the acceptable values for `varchar()` for some reason. You may be able to lower those and save memory. 

I went column by column 26 times to get this correct. Error after error but it works and I hope it is satisfactory for you. I have no idea if you have a build DB for these data and if you do you will need to adjust the schema here. If you are starting fressh you have a good starting point.

+ As I noted above: if you need DATETIME instead of DATE change here and the column info above for formatting.

In [30]:
new_subset_play.dtypes

# This line marked out will NOT work with DUPLICATE columns and renames both.
# new_subset_play=new_subset_play.rename(columns={ new_subset_play.columns[40]:"RewardsReceiptItemList_pointsEarned"})

sql ="""
CREATE TABLE fetch_receipts_table(bonusPointsEarned FLOAT, bonusPointsEarnedReason TEXT, 
pointsEarned TEXT,
purchasedItemCount INT, rewardsReceiptStatus TEXT, totalSpent FLOAT, userId VARCHAR(255), 
OID VARCHAR(255),
createDate_date DATE, dateScanned_date DATE, finishedDate_date DATE, modifyDate_date DATE, 
pointsAwardedDate_date DATE, purchaseDate_date DATE, barcode varchar(255), description TEXT, 
finalPrice FLOAT,
itemPrice FLOAT, partnerItemId INT,
quantityPurchased INT,
userFlaggedBarcode VARCHAR(255), userFlaggedPrice FLOAT, 
userFlaggedQuantity INT, 
pointsNotAwardedReason TEXT, pointsPayerId VARCHAR(255), 
rewardsGroup TEXT,
rewardsProductPartnerId VARCHAR(255), userFlaggedDescription TEXT, originalMetaBriteBarcode TEXT,
originalMetaBriteDescription LONGTEXT, brandCode TEXT, competitorRewardsGroup TEXT, 
discountedItemPrice DOUBLE, 
originalReceiptItemText TEXT,
itemNumber BIGINT, originalMetaBriteQuantityPurchased INT, rewardsReceiptItemList_pointsEarned FLOAT, 
targetPrice INT, competitiveProduct TEXT, originalFinalPrice FLOAT, 
originalMetaBriteItemPrice FLOAT, 
priceAfterCoupon FLOAT, metabriteCampaignId TEXT)"""

# Install : mysql.connector

conda install -c anaconda mysql-connector-python

pip install mysql-connector

or pip3 install mysql-connector

Begin cell block that Julie inserted into original notebook.

In [31]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\julie\anaconda3\lib\site-packages (8.0.30)
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in c:\users\julie\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.1)
Note: you may need to restart the kernel to use updated packages.

In [32]:
# Setup MySQL for us to send data and create a new DB
import mysql.connector as mysql # establish connection to mysql

In [33]:
from mysql.connector import MySQLConnection # using Class for function call

import pandas as pd

In [34]:
import mysql

print(dir(mysql))
['__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', 
'__package__', '__path__', '__spec__']

import mysql.connector

print(dir(mysql))
['__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', 
'__package__', '__path__', '__spec__', 'connector']

['__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__path__', '__spec__', 'connector']
['__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__path__', '__spec__', 'connector']

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 'connector']

In [35]:
myconn = mysql.connector.connect(host = "localhost", user = "root",
                                 passwd = "1034RegentPark01&", 
                                 use_pure = True)
print(myconn)

<mysql.connector.connection.MySQLConnection object at 0x000001D9DB3453D0>

In [36]:
mycursor = myconn.cursor()

In [37]:
mycursor.execute('SET GLOBAL local_infile=1')

In [38]:
mycursor.execute('SELECT DATABASE()')

In [39]:
mycursor.fetchall()

[(None,)]

In [40]:
# This checks if you have issues with exporting later due to security:
mycursor.execute('SHOW VARIABLES LIKE "secure_file_priv"')
mycursor.fetchall()

[('secure_file_priv', 'C:\\ProgramData\\MySQL\\MySQL Server 8.0\\Uploads\\')]

In [41]:
# Want this ON, so we can transfer data depending on how you setup Import to MySQL
mycursor.execute("SHOW GLOBAL VARIABLES LIKE 'local_infile'")
mycursor.fetchall()

[('local_infile', 'ON')]

In [42]:
mycursor.execute('USE fetch_analysis')

In [43]:
mycursor.execute(sql)

In [44]:
new_subset_play.to_csv('Julie_W.csv', index=False)


cpu_sales= pd.read_csv('Julie_W.csv',keep_default_na=False)

# set(cpu_sales['needsFetchReview'])
# new_subset_play
# set(cpu_sales['itemNumber'])
# cpu_sales['itemNumber'][12:15]

# cpu_sales['bonusPointsEarned'][34:38]
# cpu_sales['partnerItemId'][189:192]

In [45]:
cpu_sales.head()

,bonusPointsEarned,bonusPointsEarnedReason,pointsEarned,purchasedItemCount,rewardsReceiptStatus,totalSpent,userId,OID,createDate_date,dateScanned_date,...,itemNumber,originalMetaBriteQuantityPurchased,rewardsReceiptItemList_pointsEarned,targetPrice,competitiveProduct,originalFinalPrice,originalMetaBriteItemPrice,deleted,priceAfterCoupon,metabriteCampaignId
0,500.0,"Receipt number 2 completed, bonus point schedu...",500.0,5,FINISHED,26.0,5ff1e1eacfcf6c399c274ae6,5ff1e1eb0a720f0523000575,2021-01-03,2021-01-03,...,0,0,0.0,0,Unknown,0.0,0.0,False,0.0,
1,150.0,"Receipt number 5 completed, bonus point schedu...",150.0,2,FINISHED,11.0,5ff1e194b6a9d73a3a9f1052,5ff1e1bb0a720f052300056b,2021-01-03,2021-01-03,...,0,0,0.0,0,Unknown,0.0,0.0,False,0.0,
2,150.0,"Receipt number 5 completed, bonus point schedu...",150.0,2,FINISHED,11.0,5ff1e194b6a9d73a3a9f1052,5ff1e1bb0a720f052300056b,2021-01-03,2021-01-03,...,0,0,0.0,0,Unknown,0.0,0.0,False,0.0,
3,5.0,All-receipts receipt bonus,5.0,1,REJECTED,10.0,5ff1e1f1cfcf6c399c274b0b,5ff1e1f10a720f052300057a,2021-01-03,2021-01-03,...,0,0,0.0,0,Unknown,0.0,0.0,False,0.0,
4,5.0,All-receipts receipt bonus,5.0,4,FINISHED,28.0,5ff1e1eacfcf6c399c274ae6,5ff1e1ee0a7214ada100056f,2021-01-03,2021-01-03,...,0,0,0.0,0,Unknown,0.0,0.0,False,0.0,

In [46]:
# julie_table = new_subset_play
# julie_table=data_list

mycursor.executemany("""
INSERT INTO fetch_receipts_table(bonusPointsEarned, bonusPointsEarnedReason,
       pointsEarned, purchasedItemCount,
       rewardsReceiptStatus, totalSpent, userId, OID,
       createDate_date, dateScanned_date, finishedDate_date,
       modifyDate_date, pointsAwardedDate_date, purchaseDate_date,
       barcode, description, finalPrice, itemPrice,
       partnerItemId, preventTargetGapPoints, quantityPurchased,
       userFlaggedBarcode, userFlaggedNewItem, userFlaggedPrice,
       userFlaggedQuantity,
       pointsNotAwardedReason, pointsPayerId, rewardsGroup,
       rewardsProductPartnerId, userFlaggedDescription,
       originalMetaBriteBarcode, originalMetaBriteDescription, brandCode,
       competitorRewardsGroup, discountedItemPrice,
       originalReceiptItemText, itemNumber,
       originalMetaBriteQuantityPurchased,
       rewardsReceiptItemList_pointsEarned, targetPrice,
       competitiveProduct, originalFinalPrice,
       originalMetaBriteItemPrice, deleted, priceAfterCoupon,
       metabriteCampaignId) VALUES(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,
       %s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,
       %s,%s,%s,%s,%s,%s,%s,%s,%s)
""",list(cpu_sales.values))

# 'originalMetaBriteQuantityPurchased'
# 'originalMetaBriteItemPrice'

InterfaceError: Failed executing the operation; The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

In [ ]:
# Setup MySQL for us to send data and create a new DB

import mysql.connector as mysql # establish connection to mysql 

from mysql.connector import MySQLConnection # using Class for function call

import pandas as pd  # Create Dataframe

from python_to_myql_config import read_db_config # calling config files, (you need to make this) 
# stored user credentials I have, or use the block of code below

import csv

In [ ]:
# I had to turn on mysql server for this to work next: on Mac terminal


# mysql.server start

# Use this if you don't have user credentials like I used

`mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="mydatabase"
)`

`--------------------------------------`
If you want to make user credentials here is how I did mine:

Config files creation:

1st: Create config_.ini file

`[mysql]
host = localhost
database = your_database_name_here
user = user_name_here
password = your_password_here`

----------------------------------

2nd: Create file to read parameters: python_to_mysql_config.py

#!usr/bin/python (Change this line if using venv)

from configparser import ConfigParser

def read_db_config(filename='config_.ini', section='mysql'):

""" Read database configuration file and return a dictionary object :param filename: name of the configuration file
    :param section: section of database configuration
    :return: a dictionary of database parameters
    """

# create parser and read ini configuration file

 parser = ConfigParser()
 parser.read(filename)
 # get section, default to mysql

 `db = {}  
if parser.has_section(section):
    items = parser.items(section)
    for item in items:
    db[item[0]] = item[1]
else:
    raise Exception('{0} not found in the {1} file'.format(section, filename))
return db `

In [ ]:
db_config = read_db_config() # user credentials are mine, you will need to change this line

conn = MySQLConnection(**read_db_config()) # establish connection

mycursor = conn.cursor() # cursor, allows us to do queries,send/retrieve data

In [ ]:
mycursor.execute("SHOW TABLES")
mycursor.fetchall()

In [ ]:
# Show What DB we are using:

# show what database we are currently using:
mycursor.execute("SELECT DATABASE()")
mycursor.fetchall()

In [ ]:
# Turn this on, if you have issues sending data

mycursor.execute('SET GLOBAL local_infile=1')

# This checks if you have issues with exporting later due to security:
mycursor.execute('SHOW VARIABLES LIKE "secure_file_priv"')
mycursor.fetchall()

In [ ]:
# Want this ON, so we can transfer data depending on how you setup Import to MySQL
mycursor.execute("SHOW GLOBAL VARIABLES LIKE 'local_infile'")
mycursor.fetchall()

In [ ]:
# Create DB:


# mycursor.execute("CREATE DATABASE JA_w_help")

In [ ]:
# Show DB's


mycursor.execute("SHOW DATABASES")
mycursor.fetchall()

In [ ]:
# Creating table as per requirement, sql is the schema from above we created

mycursor.execute(sql)

In [ ]:
new_subset_play.to_csv('Julie_W.csv', index=False)


cpu_sales= pd.read_csv('Julie_W.csv',keep_default_na=False)

# set(cpu_sales['needsFetchReview'])
# new_subset_play
# set(cpu_sales['itemNumber'])
# cpu_sales['itemNumber'][12:15]

# cpu_sales['bonusPointsEarned'][34:38]
# cpu_sales['partnerItemId'][189:192]

In [ ]:
# julie_table = new_subset_play
# julie_table=data_list

mycursor.executemany("""
INSERT INTO fetch_receipts_table(bonusPointsEarned, bonusPointsEarnedReason,
       pointsEarned, purchasedItemCount,
       rewardsReceiptStatus, totalSpent, userId, OID,
       createDate_date, dateScanned_date, finishedDate_date,
       modifyDate_date, pointsAwardedDate_date, purchaseDate_date,
       barcode, description, finalPrice, itemPrice, needsFetchReview,
       partnerItemId, preventTargetGapPoints, quantityPurchased,
       userFlaggedBarcode, userFlaggedNewItem, userFlaggedPrice,
       userFlaggedQuantity, needsFetchReviewReason,
       pointsNotAwardedReason, pointsPayerId, rewardsGroup,
       rewardsProductPartnerId, userFlaggedDescription,
       originalMetaBriteBarcode, originalMetaBriteDescription, brandCode,
       competitorRewardsGroup, discountedItemPrice,
       originalReceiptItemText, itemNumber,
       originalMetaBriteQuantityPurchased,
       rewardsReceiptItemList_pointsEarned, targetPrice,
       competitiveProduct, originalFinalPrice,
       originalMetaBriteItemPrice, deleted, priceAfterCoupon,
       metabriteCampaignId) VALUES(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,
       %s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,
       %s,%s,%s,%s,%s,%s,%s,%s,%s)
""",list(cpu_sales.values))

# 'originalMetaBriteQuantityPurchased'
# 'originalMetaBriteItemPrice'

In [ ]:
mycursor.execute('select * from  fetch_receipts_table')
len(mycursor.fetchall())

In [ ]:
mycursor.execute('select * from fetch_receipts_table limit 3')
mycursor.fetchall()

# pd.DataFrame(back_to_df)

In [ ]:
mycursor.execute("SELECT * from fetch_receipts_table")

# Get all results and store them 
mm=mycursor.fetchall()

# Retain columns names, and store as DF:
pd.DataFrame(mm,columns=mycursor.column_names)

In [ ]:
# sx=["bonusPointsEarned", "bonusPointsEarnedReason" , "rewardsReceiptItemList_pointsEarned_OG" ,
# "purchasedItemCount", "rewardsReceiptStatus", "totalSpent" , "userId" , "OID",
# "createDate_date", "dateScanned_date", "finishedDate_date", "modifyDate_date", 
# "pointsAwardedDate_date", "purchaseDate_date", "barcode", "description", "finalPrice",
# "itemPrice", "needsFetchReview", "partnerItemId", "preventTargetGapPoints", "quantityPurchased",
# "userFlaggedBarcode", "userFlaggedNewItem", "userFlaggedPrice", "userFlaggedQuantity", 
# "needsFetchReviewReason", "pointsNotAwardedReason", "pointsPayerId", "rewardsGroup",
# "rewardsProductPartnerId", "userFlaggedDescription" ,"originalMetaBriteBarcode",'originalMetaBriteDescription',
# "brandCode", "competitorRewardsGroup", "discountedItemPrice", "originalReceiptItemText",
# "itemNumber", "originalMetaBriteQuantityPurchased", "RewardsReceiptItemList_pointsEarned", 
# "targetPrice", "competitiveProduct" , "originalFinalPrice" , "originalMetaBriteItemPrice", 
# "deleted", "priceAfterCoupon", "metabriteCampaignId"]

# new_subset_play.columns==(sx)
# # 'originalMetaBriteDescription'

# # new_subset_play.columns

# `Citations & Help:`

https://www.w3schools.com/python/python_mysql_create_db.asp

https://bobcares.com/blog/mysql-workbench-error-61/

https://www.youtube.com/watch?v=Ue6lPF10wC0

https://docs.cs.cf.ac.uk/notes/accessing-mysql-from-linux/

https://stackoverflow.com/questions/32022580/failed-to-connect-to-mysql-at-localhost3306-with-user-root

https://sparkbyexamples.com/pandas/pandas-convert-multiple-columns-to-datetime-type/

https://datascientyst.com/suppress-format-scientific-notation-pandas/

https://sparkbyexamples.com/pandas/pandas-convert-column-to-int/

https://stackoverflow.com/questions/62704671/how-to-convert-a-unix-timestamp-of-a-pandas-dataframe-column-with-nan-values-to

https://sparkbyexamples.com/pandas/pandas-convert-datetime-to-string-format/#:~:text=By%20default%20pandas%20datetime%20format,Y%2D%25m%2D%25d%20)

https://towardsdatascience.com/mastering-dates-and-timestamps-in-pandas-and-python-in-general-5b8c6edcc50c

https://stackoverflow.com/questions/59817317/how-to-convert-multiple-columns-datatype-format-to-another-datatype-formats-at-a

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.update.html

https://dev.mysql.com/doc/refman/8.0/en/datetime.html#:~:text=MySQL%20retrieves%20and%20displays%20DATE,%3Amm%3Ass%20'%20format

https://datascience.stackexchange.com/questions/41448/how-to-rename-columns-that-have-the-same-name

https://stackoverflow.com/questions/66477410/how-can-i-insert-id-oid-5ec796a7868d607e00f4b18d-and-time-15901

https://www.programiz.com/python-programming/datetime/strftime

https://stackoverflow.com/questions/45395729/unknown-column-nan-in-field-list-python-pandas

https://stackoverflow.com/questions/24942538/sql-wont-insert-null-values-with-bulk-insert

https://stackoverflow.com/questions/45756557/inserting-nan-value-into-mysql-database

https://www.tutorialspoint.com/can-mysql-automatically-convert-empty-strings-to-null

https://towardsdatascience.com/a-few-times-i-managed-to-broke-pandas-d3604d43708c

https://tutorial.eyehunts.com/python/find-the-index-of-duplicate-elements-in-list-python-example-code/

https://stackoverflow.com/questions/40459254/pandas-change-a-specific-column-name-in-dataframe-having-multilevel-columns

https://stackoverflow.com/questions/41027882/convert-nan-values-to-null-in-mysql-columns-with-python-code

https://dev.mysql.com/doc/refman/8.0/en/problems-with-null.html